# Ignorar ambientes virtuais
.venv/
.python-version

# Ignorar dados sensíveis e arquivos pesados
db/*
!db/tags.json
data/
models/

# Logs e backups
logs/
*.log
*.bak

# Pycache e artefatos Python
__pycache__/
*.pyc

# VSCode
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db

